 header{
        background-color: #386641;
        display: flex;
        justify-content:space-between;
        position:fixed;
        top:0;
    }

    footer{
        margin:0px;
        background-color:#386641;
        color:#f2e8cf;
        padding:1rem;
        display:flex;
        gap:1rem;
        justify-content: left;
    }

    .gallery{
        width:90%;
    }
    main img{
        width: 60%;
    }
    
    main h1{
        color:#ffff;
        background-image: url(images/menubg1.jpg);
        display:flex;
        justify-content:center;
        padding:5rem;
        margin:0;
    }
    body{
        background-color: #f2e8cf;
        margin: 0px;
    }
    main h2{
        color:#bc4749;
    }
    
    main h3{
        color:#bc4749;
    }
    
    main{
        margin:2rem;
        color:black;
    }

    header nav.show{
        display:block;
        position:absolute;
        bottom:-160%;
        right:0;
    }

    header nav{
        transition-property: left;
        transition-duration:.5s;
        transition-timing-function:ease-in-out;
        display:none;
        background-color:#386641;
     }

     nav>a{
        color: #f2e8cf;
        font-size: large;
        text-decoration:none;
        display:flex;
        vertical-align:auto;
    }

     .hamburger{
        width:2rem;
        color:#f2e8cf;
     }

     .logo{
        width:30%;
     }
     @media (min-width:1100px){
        main h1{
            color:#ffff;
            background-image: url(images/menubg1.jpg);
            display:flex;
            justify-content:center;
            padding:5rem;
            margin:0;
        }
    
        body{
            background-color: #f2e8cf;
            margin: 0px;
            font-family: "Afacad Flux", sans-serif;
        }
    
        .hamburger{
            display:none;
        }
        main h2{
            color:#bc4749;
        }
        
        main h3{
            color:#bc4749;
        }
        
        main{
            margin:2rem;
            color:black;
        }
    
        header nav{
            display:block;
            position:unset;
        }
        nav>a{
            color: #f2e8cf;
            text-decoration:none;
            padding:2rem 2rem;
            font-weight:900;
            display:inline-block;
        }
        
        header{
            background-color: #386641;
            display: flex;
            justify-content:space-between;
        }
        
        footer{
            margin:0px;
            background-color:#386641;
            color:#f2e8cf;
            padding:1rem;
            display:flex;
            gap:1rem;
            justify-content: left;
        }
        
        .about{
            display:flex;
            justify-content:space-around;
        }
        
        .story{
            padding:2rem;
        }
    
        .gallery{
            width:30%;
        }
    
        .logo{
            width:30%;
        }
    
        .img1{
            padding:1rem 2rem;
            width:70%;
        }
    
        .img2{
            padding:1rem 2rem;
            width:70%;
        }
    
        header img{
            width:30%
        }
        
        .logo{
            width:20%;
        }
        
        .menu1{
            display:flex;
            justify-content:space-between;
        }
        .menu2{
            display:flex;
            justify-content:space-between;
        }
        .space{
            width:40%;
            gap:3rem;
        }
        .menu1 .space:last-child{
            text-align: right;
        }
        .menu2 .space:last-child{
            text-align: right;
        }
    }
